BODY { background-image: url("./marmer.png"); 
		background-attachment: fixed; 
	}
h1 { text-align: center;
		color: #000000; 
		font-weight: bold;
		font-family: inherit;
		font-size:50px;
		margin-bottom: 10px;
	}
h2 { text-align: center;
		color: #000000;
		font-weight: bold;
		font-family: inherit;
		font-size: 30px;
		margin-top: 10px;
	}
h3 { margin-left: 120px; 
		margin-right: 120px;
		font-size: 20px;
		background-color: #C0C0C0;
	}
h4 { margin-left: 125px;
		margin-right: 125px;
		background-color: #C0C0C0;
	}
p { margin-left: 130px;
		margin-right: 130px; 
	}
h6 { text-align: center;
	}
