BODY { background-image: url('./Afbeeldingen/marmer.png'); 
		background-attachment: fixed; 
	}
h1 { text-align: center;
		color: #000000; 
		font-weight: bold;
		font-family: inherit;
		font-size:50px;
		margin-bottom: 10px;
	}
h2 { text-align: center;
		color: #000000;
		font-weight: bold;
		font-family: inherit;
		font-size: 30px;
		margin-top: 10px;
	}
h3 { margin-left: 20px; 
		margin-right: 20px;
		font-size: 20px;
	}
h4 { margin-left: 25px;
		margin-right: 25px;
	}
p { margin-left: 30px;
		margin-right: 30px; 
	}
h6 { text-align: center;
	}